.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(255, 229, 197);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚧</text></svg>")
      16 0,
    auto;
  text-align: center;
}

.example {
  transition: 500ms ease-out;
}

.example:hover {
}

.exampleLink {
  transition: 500ms ease-out;
  font-style: italic;
}
.exampleLink:hover {
  font-size: 24px;
  color: cadetblue;
}

.gifContainer {
  border-radius: 8px;
  box-shadow: 5px 10px #363535;
  transition: 500ms ease-out;
}

.gifContainer:hover {
  box-shadow: 10px 10px #000000;
  transform: scale(1.01)
}
